<div class="menu-toggle" data-toggle="toggle">
    <div class="menu-toggle__item menu-toggle__item--one"></div>
    <div class="menu-toggle__item menu-toggle__item--two"></div>
    <div class="menu-toggle__item menu-toggle__item--three"></div>
</div>
<ul class="menu" data-toggle="menu">
    <li class="menu__item"><a data-scroll="menu" class="menu__link" href="#program">Program</a></li>
    <li class="menu__item"><span class="menu__separator"></span></li>
    <li class="menu__item"><a data-scroll="menu" class="menu__link" href="#gallery">Gallery</a></li>
    <li class="menu__item"><span class="menu__separator"></span></li>
    <li class="menu__item"><a data-scroll="menu" class="menu__link" href="#reviews">Reviews</a></li>
    <li class="menu__item"><span class="menu__separator"></span></li>
    <li class="menu__item"><a data-scroll="menu" class="menu__link" href="#partners">Partners</a></li>
    <li class="menu__item"><span class="menu__separator"></span></li>
    <li class="menu__item"><a data-scroll="menu" class="menu__link" href="#contact">Contact</a></li>
</ul>
