<section class="programs" id="program">
    <img class="programs__coffee"
         data-scroll="true" data-speed="-4"
         src="%=static=%img/assets/programs/coffeebean3.png"
         srcset="%=static=%img/assets/programs/coffeebean3-2x.png 2x" alt="coffee bean">
    <div class="page__section">
        <h2 class="programs__title">Programs</h2>
        <div class="programs__declaration">
            We share their experience and professional barista championships multiple winners
        </div>
        {{> tabs/tabs }}
        <div class="programs__description">
            <img class="programs__coffee2"
                 data-scroll="true" data-speed="1"
                 src="%=static=%img/assets/programs/coffeebean2.png"
                 srcset="%=static=%img/assets/programs/coffeebean2-2x.png 2x" alt="coffee bean">
            <div class="programs__column">
                <h3 class="programs__subtitle">Provenance <br> coffee and basic concepts:</h3>
                <ul class="programs__list">
                    <li>Legend of the origin of coffee.</li>
                    <li>- Chronicle of the spread of the coffee tree</li>
                    <li>- What is coffee?</li>
                    <li>- The structure of the coffee berry</li>
                    <li>- Arabica and Robusta</li>
                    <li>- Coffee Belt land</li>
                    <li>- Fruiting coffee tree</li>
                    <li>- Seven steps of the coffee plantation to the consumer</li>
                    <li>- Breeding and hybridization of coffee tree</li>
                </ul>
            </div>
            <div class="programs__column">
                <h3 class="programs__subtitle">Coffee production technology:</h3>
                <ul class="programs__list">
                    <li>- Methods for collecting coffee berries</li>
                    <li>- Processing collected berries</li>
                    <li>- Calibration and sorting</li>
                    <li>- Some methods of classification and labeling of coffee beans.</li>
                    <li>- Formation of grade names.</li>
                    <li>- Storage of green (not fried) Coffee</li>
                </ul>
            </div>
            <div class="programs__column">
                <h3 class="programs__subtitle">Roasting Technology <br> bean. And Stage <br> types of roasting.</h3>
                <ul class="programs__list">
                    <li>- The technology of roasting coffee beans.</li>
                    <li>- Changes in the beans.</li>
                    <li>- Stages and types of roasting.</li>
                    <li>- Roasted coffee. Monosorta and hood.</li>
                    <li>- Decaffeination of coffee</li>
                    <li>- Flavoring</li>
                    <li>- Storage roasted coffee</li>
                </ul>
            </div>
        </div>
        <div class="programs__includes">
            <h3 class="programs__subtitle">The course also includes:</h3>
            {{> table/table }}
        </div>
    </div>
    <img class="programs__wood-coffee"
         src="%=static=%img/assets/programs/wood-coffee-beans-coffee.png"
         srcset="%=static=%img/assets/programs/wood-coffee-beans-coffee-2x.png 2x" alt="wood coffee beans coffee">
    <img class="programs__espresso"
         data-scroll="true" data-speed="5"
         src="%=static=%img/assets/programs/espresso-servis-coffeefly.png"
         srcset="%=static=%img/assets/programs/espresso-servis-coffeefly-2x.png 2x" alt="espresso servis coffeefly">
</section>
