.logo {
    font-size: 25px;
    font-family: "Roboto";
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    position: relative;
    top: 24px;
    left: 121px;
    line-height: 148px;
    word-spacing: 82px;
    white-space: nowrap;
    text-indent: -40px;
    .bg(@logo);
}
