<div class="contact" id="contact">
    <div class="contact__wrap">
        <h2 class="contact__title">Have questions?</h2>
        <div class="contact__subtitle">Leave a request and we will contact you shortly</div>
        <form class="contact__form">
            <div class="contact__group">
                <input class="contact__input" type="text" placeholder="Your name" required>
                <input class="contact__input" type="text" placeholder="Contact number" required>
            </div>
            <button class="contact__submit">
                Send
                <span class="contact__arrow"></span>
            </button>
        </form>
    </div>
</div>
