<section class="contact" id="contact">
    <div class="page__section">
        <h2 class="contact__title">Have questions?</h2>
        <div class="contact__subtitle">Leave a request and we will contact you shortly</div>
        <form class="contact__form">
            <div class="contact__group">
                <input class="contact__input" type="text" placeholder="Your name" required>
                <input class="contact__input" type="text" placeholder="Contact number" required>
            </div>
            <button class="contact__submit">
                Send
                <span class="contact__arrow"></span>
            </button>
        </form>
    </div>
    <img class="contact__espresso"
         data-scroll="true" data-speed="-5"
         src="%=static=%img/assets/contact/coffeebean.png"
         srcset="%=static=%img/assets/contact/coffeebean-2x.png 2x" alt="coffee bean">
    <img class="contact__grain"
         data-scroll="true" data-speed="-4"
         src="%=static=%img/assets/contact/grain.png"
         srcset="%=static=%img/assets/contact/grain-2x.png 2x" alt="grain">
    <img class="contact__coffeebean"
         data-scroll="true" data-speed="-3"
         src="%=static=%img/assets/contact/coffeebean5.png"
         srcset="%=static=%img/assets/contact/coffeebean5-2x.png 2x" alt="coffee bean">
</section>
