<section class="gallery" id="gallery">
    <h2 class="gallery__title">Gallery</h2>
    <div class="gallery__desc">
        You yourself are testing the taste benefits of each method and select the type of cooking yourself
    </div>
    <div class="js_slider slider slider--gallery">
        <div class="js_frame slider__frame">
            <ul class="js_slides slider__slides">
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
                <li class="js_slide slider__slide">
                    <img src="%=static=%img/assets/gallery/gallery1.jpg" srcset="%=static=%img/assets/gallery/gallery1-2x.jpg 2x" alt="gallery">
                </li>
            </ul>
        </div>
        <div class="slider__nav">
            <span class="js_prev slider__prev">
                <span class="slider__prev-arrow"></span>
            </span>
            <span class="slider__counter">
                <span class="slider__number js-current">1</span>
                <span class="slider__from">from</span>
                <span class="slider__number">10</span>
            </span>
            <span class="js_next slider__next">
                <span class="slider__next-arrow"></span>
            </span>
        </div>
    </div>

</section>
