<div class="table">
    <div class="table__row">
        <div class="table__cell">
            <span class="table__true"></span>
        </div>
        <div class="table__cell">
            Coffee machine and grinder - practice - types of coffee machines and coffee grinders
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__true"></span>
        </div>
        <div class="table__cell">
            What makes professional coffee machines and coffee grinders.
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            Main components of coffee machines and coffee-Lathes, autolathes. Their purpose
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            How to choose a coffee machine and coffee grinder
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            The structure of the machine. How to maintain, clean and customize coffee machine
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            The structure of the grinders. How to maintain, clean and customize coffee Molko
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__true"></span>
        </div>
        <div class="table__cell">
            Making beverages - praktika- machines and espresso rules
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            Technology and regulations frothed milk
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            Terms of tasting coffee
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            Terms of preparation of standard drinks line: espresso, cappuccino, latte and others.
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            Latte Art - Features practice and the importance of Latte Art in business and the barista
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            1 views Latte Art - Pitching
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            2 views Latte Art - topping
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            3 views Latte Art - Etching
        </div>
    </div>
    <div class="table__row">
        <div class="table__cell">
            <span class="table__false"></span>
        </div>
        <div class="table__cell">
            4 views Latte Art - chocolate chip stencils
        </div>
    </div>
</div>
