.phone {
    font-size: 26px;
    font-family: serif;
    color: #ffffff;
    text-decoration: none;
    align-self: center;
    margin: 0 44px 0 105px;
    position: relative;
    top: 2px;
    letter-spacing: -1px;
    transition: color .3s;
    &__number {
        font-family: "robotoblack", sans-serif;
    }
    &:hover,
    &:focus {
        color: #eab96a;
    }
}
