<section class="testimonials" id="reviews">
    <div class="testimonials__wrap">
        <h2 class="testimonials__title">Testimonials</h2>
        <div class="testimonials__slogan">
            We have enough patience to teach you the art of coffee
        </div>
        <div class="js_slider2 slider slider--testimonials">
            <div class="js_frame slider__frame">
                <ul class="js_slides slider__slides">
                    <li class="js_slide slider__slide">
                        <div class="testimonials__info">
                            <div class="testimonials__photo">
                                <a href="https://www.facebook.com/" target="_blank" class="testimonials__social"></a>
                                <img class="testimonials__img" src="%=static=%img/assets/testimonials/alex.jpg"
                                     srcset="%=static=%img/assets/testimonials/alex-2x.jpg 2x" alt="Alex Nikandrov">
                            </div>
                            <div class="testimonials__name">Alex Nikandrov</div>
                            <div class="testimonials__text">
                                Our company is grateful for the delicious and freshly roasted coffee in our office every
                                day! Our staff of more than 300 people, appreciate quality and flavor of the coffee,
                                because that would be important for our office staff were every morning refreshed and in
                                a good mood! Recommended!
                            </div>
                        </div>
                    </li>
                    <li class="js_slide slider__slide">
                        <div class="testimonials__info">
                            <div class="testimonials__photo">
                                <a href="https://www.facebook.com/" target="_blank" class="testimonials__social"></a>
                                <img class="testimonials__img" src="%=static=%img/assets/testimonials/alex.jpg"
                                     srcset="%=static=%img/assets/testimonials/alex-2x.jpg 2x" alt="Max Nikandrov">
                            </div>
                            <div class="testimonials__name">Max Nikandrov</div>
                            <div class="testimonials__text">
                                Our company is grateful for the delicious and freshly roasted coffee in our office every
                                day! Recommended!
                            </div>
                        </div>
                    </li>
                    <li class="js_slide slider__slide">
                        <div class="testimonials__info">
                            <div class="testimonials__photo">
                                <a href="https://www.facebook.com/" target="_blank" class="testimonials__social"></a>
                                <img class="testimonials__img" src="%=static=%img/assets/testimonials/alex.jpg"
                                     srcset="%=static=%img/assets/testimonials/alex-2x.jpg 2x" alt="Sergey Nikandrov">
                            </div>
                            <div class="testimonials__name">Sergey Nikandrov</div>
                            <div class="testimonials__text">
                                Our staff of more than 300 people, appreciate quality and flavor of the coffee,
                                because that would be important for our office staff were every morning refreshed and in
                                a good mood! Recommended!
                            </div>
                        </div>
                    </li>
                    <li class="js_slide slider__slide">
                        <div class="testimonials__info">
                            <div class="testimonials__photo">
                                <a href="https://www.facebook.com/" target="_blank" class="testimonials__social"></a>
                                <img class="testimonials__img" src="%=static=%img/assets/testimonials/alex.jpg"
                                     srcset="%=static=%img/assets/testimonials/alex-2x.jpg 2x" alt="Mike Nikandrov">
                            </div>
                            <div class="testimonials__name">Mike Nikandrov</div>
                            <div class="testimonials__text">
                                Our company is grateful for the delicious and freshly roasted coffee in our office every
                                day! Our staff of more than 300 people, appreciate quality and flavor of the coffee,
                                because that would be important for our office staff were every morning refreshed and in
                                a good mood! Recommended!
                            </div>
                        </div>
                    </li>
                    <li class="js_slide slider__slide">
                        <div class="testimonials__info">
                            <div class="testimonials__photo">
                                <a href="https://www.facebook.com/" target="_blank" class="testimonials__social"></a>
                                <img class="testimonials__img" src="%=static=%img/assets/testimonials/alex.jpg"
                                     srcset="%=static=%img/assets/testimonials/alex-2x.jpg 2x" alt="Oleg Nikandrov">
                            </div>
                            <div class="testimonials__name">Oleg Nikandrov</div>
                            <div class="testimonials__text">
                                Our company is grateful for the delicious and freshly roasted coffee in our office every
                                day! Our staff of more than 300 people, appreciate quality and flavor of the coffee,
                                because that would be important for our office staff were every morning refreshed and in
                                a good mood!
                            </div>
                        </div>
                    </li>
                    <li class="js_slide slider__slide">
                        <div class="testimonials__info">
                            <div class="testimonials__photo">
                                <a href="https://www.facebook.com/" target="_blank" class="testimonials__social"></a>
                                <img class="testimonials__img" src="%=static=%img/assets/testimonials/alex.jpg"
                                     srcset="%=static=%img/assets/testimonials/alex-2x.jpg 2x" alt="Nick Nikandrov">
                            </div>
                            <div class="testimonials__name">Nick Nikandrov</div>
                            <div class="testimonials__text">
                                Our company is grateful for the delicious and freshly roasted coffee in our office every
                                day! Our staff of more than 300 people, appreciate quality and flavor of the coffee,
                                because that would be important for our office staff were every morning refreshed and in
                                a good mood! Recommended! Recommended! Recommended! Recommended! Recommended!
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="slider__nav">
                <span class="js_prev slider__prev"></span>
                <span class="js_next slider__next"></span>
            </div>
            <ul class="js_dots testimonials__dots"></ul>
        </div>
    </div>
</section>
