// Common styles of the project

html, body {
    height: 100%;
}

.page {
    // Стили для body
}

.page__wrapper {
    min-height: 100%;
    max-width: 1920px;
    margin: 0 auto -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

* {
    box-sizing: border-box;
}
