<section class="partners" id="partners">
    <div class="page__section">
        <h2 class="partners__title">Our partners</h2>
        <div class="partners__line"></div>
        <div class="js_slider3 slider slider--partners">
            <div class="js_frame slider__frame">
                <ul class="js_slides slider__slides">
                    <li class="js_slide slider__slide">
                        <img src="%=static=%img/assets/partners/abajour_logo.png"
                             srcset="%=static=%img/assets/partners/abajour_logo-2x.png 2x" alt="abajour logo">
                    </li>
                    <li class="js_slide slider__slide">
                        <img src="%=static=%img/assets/partners/altbee_logo.png"
                             srcset="%=static=%img/assets/partners/altbee_logo-2x.png 2x" alt="altbee logo">
                    </li>
                    <li class="js_slide slider__slide">
                        <img src="%=static=%img/assets/partners/dedushka_logo.png"
                             srcset="%=static=%img/assets/partners/dedushka_logo-2x.png 2x" alt="dedushka logo">
                    </li>
                    <li class="js_slide slider__slide">
                        <img src="%=static=%img/assets/partners/gdeburger_logo.png"
                             srcset="%=static=%img/assets/partners/gdeburger_logo-2x.png 2x" alt="gdeburger logo">
                    </li>
                    <li class="js_slide slider__slide">
                        <img src="%=static=%img/assets/partners/logo_baden_baden.png"
                             srcset="%=static=%img/assets/partners/logo_baden_baden-2x.png 2x" alt="baden baden logo">
                    </li>
                    <li class="js_slide slider__slide">
                        <img src="%=static=%img/assets/partners/logo_klass.png"
                             srcset="%=static=%img/assets/partners/logo_klass-2x.png 2x" alt="klass logo">
                    </li>
                </ul>
            </div>
            <div class="slider__nav">
                <span class="js_prev slider__prev"></span>
                <span class="js_next slider__next"></span>
            </div>
        </div>
    </div>
</section>
